<div class="row">
	<div class="col-lg-5">
		<%= image_tag("logo.png", class: 'aboutlogo') %>
	</div>
	<div class="col-lg-7">
		<h4 id="abouttext">
			17 Web Development & Design stands on the belief of web development being an underestimated art form.<br> Each project demands extreme attention to detail from our highly dedicated developers.<br> Our team desires to make your vision come to life.<br> Contact us now to assist in forwarding your goal.
		</h4>
	</div>
</div>
<div class="row">
		<h1 class="team">Team:</h1>
		<div class="col-lg-4">
			<img  src="assets/james.jpeg" width="130px" height="130px"><h1>James Sullivan<br>Founder/Cofounder<br>Developer</h1>
		</div>
		<div class="col-lg-4">
			<img  src="assets/kyle.jpg" width="130px" height="130px"><h1>Kyle Harmon<br>Founder/Cofounder<br>Developer</h1>
		</div>
</div>