<div class="container container_5">
      <div class="row row_5">
        <div class="serv_5">
          <h1 class="services_5">Contact Us!</h1>
               <br>
               <br>
          <div class="col-lg-8" align="center">
            <div class="servdis_5" >
              <img class="img-square email" src="assets/email_2.png" width="300" height="300">
              <h2>Shoot us an Email!</h2>
              <p>Send us an email with your name, company, contact info and any questions you may have! One of our certified web developers will answer you within 24 hours. We look foward to hearing from you!</p>
              <h4><a href="mailto:contact.us@17webdev.com">contact.us@17webdev.com</h4></a>
            </div>
          </div><!-- /.col-lg-8 -->
        </div><!-- /.servdis_5 -->
      </div><!-- /.row_5 -->
    </div><!-- /.container_5 -->

<br>
<br>
<!-- <div class="container container_6">
      <div class="row row_6">
        <div class="serv_6">
          <h1 class="services_6">Send us an Inquary</h1>
               <br>
               <br>
          <div class="col-lg-9" align="center">
            <div class="servdis_6" >




(EVENTUALLY INSTALL SENDGRIND OR MAILCHIP SO WE CAN SEND OUT MONTLY USER TRAFFIC REPORTS TO CLIENTS)

(HIDE FOR NOW)

font-family: 'Roboto', sans-serif; may go well with our other fonts for the headers

            </div>
          </div><!/.col-lg-8 -->
        <!-- </div> --><!-- /.servdis_6 -->
      <!-- </div>/.row_6 -->
    <!-- </div>/.container_6 -->
<!-- <br>

 -->