<!-- Three columns of text below the carousel -->
    <div class="container">
      <div class="row row_1">
        <div class="col-lg-12 col-lg-offset-4">
          <img class="logo-big" align="center" src="assets/dummy-logo.png" height="200px" width="400px">
        </div>
      </div>
      <div class="row row_2">
          <h1 id="services">Services</h1>
          <hr>
          <div class="col-lg-4" align="center">
              <img class="img-square" src="assets/coding.png" width="300" height="200">
              <h2>UX/UI Design & Web Development</h2>
              <p>Our certified web developers can build a range of website for our clients. With experence ranging from the more basic Personal sites, to Artistic displays, Corporate, Ecommerece, Education, and Financial. Ranging from a few pages display pages to websites built around entire databases used to display information. Our developers truely have diverse portfolio's. </p>
          </div><!-- /.col-lg-4 -->
          <div id="2" class="col-lg-4" align="center">
              <img class="img-square" src="assets/single-page-websites.jpg" width="300" height="200">
              <h2>Custom or Templated Designs</h2>
              <p>We can build any type of website our clients request, from templated designs, to coded from scratch with API integration. Projects like these we take most pride in.</p>
          </div><!-- /.col-lg-4 -->
          <div id="3" class="col-lg-4" align="center">
              <img class="img-square" src="assets/web-design-services-page.png" width="250" height="200">
              <h2>Multi-Platform Web Development</h2>
              <p>No matter the type of website you have our developers build, they can be scaled for any device or platform you choose.</p>  
          </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
<h1 class="services_2">Languages</h1>
<hr>
      <!-- Three columns of text below the carousel -->

      <div class="row row_3" align="center">
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/html.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/css.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/javascript.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/rails.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/swift_logo.png" height="150">
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>
