    <div class="jumbotron">
      <img class="logo-big" src="assets/17webdevlogo.png" height="180px" width="400px">
        <p>The Web Developers New Yorkers and the Tri-State Area Depend On.</p>
    </div>


<!-- Three columns of text below the carousel -->
      <div class="row">
        <h1 class="services">Services</h1>
             <br>
             <br>
        <div class="col-lg-4">
          <div class="servdis">
            <img class="img-square" src="assets/coding.png" width="300" height="200">
            <h2>UX/UI Design & Web Development</h2>
            <p>Our certified web developers can build a range of website for our clients. With experence ranging from the more basic Personal sites, to Artistic displays, Corporate, Ecommerece, Education, and Financial. Ranging from a few pages display pages to websites built around entire databases used to display information. Our developers truely have diverse portfolio's. </p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div id="2" class="col-lg-4">
          <div class="servdis">
            <img class="img-square" src="assets/single-page-websites.jpg" width="300" height="200">
            <h2>Custom or Templated Designs</h2>
            <p>We can build any type of website our clients request, from templated designs, to coded from scratch with API integration. Projects like these we take most pride in.</p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div id="3" class="col-lg-4">
          <div class="servdis">
            <img class="img-square" src="assets/web-design-services-page.png" width="250" height="200">
            <h2>Multi-Platform Web Development</h2>
            <p>No matter the type of website you have our developers build, they can be scaled for any device or platform you choose.</p>
          </div>  
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->



<br>
<br>
<div class="container">
<br>
<h1 class="services_2">Languages</h1>
<br>
<br>
<br>

      <!-- Three columns of text below the carousel -->
      <div class="row_2">
        <div class="col-lg-5">
          <img class="img-square" src="assets/html.png" width="150" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <img class="img-square" src="assets/css.png" width="110" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <img id="js" class="img-square" src="assets/javascript.png" width="275" height="168">
          <!-- <h2>JavaScript</h2> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <img id="rails" class="img-square" src="assets/rails.png" width="140" height="140">
          <!-- <h2>Ruby on Rails</h2> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <img class="img-square" src="assets/swift_logo.png" width="140" height="140">
          <!-- <h2>Swift (iOS)</h2> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
