<!-- Three columns of text below the carousel -->
    <div class="container-fluid">
      <div class="row row_1">
        <div class="col-lg-12 col-lg-offset-4">
          <img class="logo-big" align="center" src="assets/tree_logo.png" height="300px" width="500px">
          <br>
          <br>
          <h1 class="company_name" align="center"> /> Web Dev </h1>
        </div>
      </div>
      <div class="row row_2" align="center">
          <h1 id="services">Services</h1>
          <br>
          <br>
          <div class="col-lg-4" align="center">
              <img class="img-square" src="assets/coding.png" width="300" height="200">
              <h2>UX/UI Design & Web Development</h2>
              <p>Our certified web developers design and build a variety of websites for our clients. We have experience in creating personal, corporate, ecommerce, educational, and financial sites. Ranging from single landing pages to websites built around entire databases, our developers truly have diverse portfolios.</p>
          </div><!-- /.col-lg-4 -->
          <div id="2" class="col-lg-4" align="center">
              <img class="img-square" src="assets/single-page-websites.jpg" width="300" height="200">
              <h2>Custom or Templated Designs</h2>
              <p>We have the experience to build fully custom or templated websites. Custom websites can be created using frameworks, plugins and API integration.</p>
          </div><!-- /.col-lg-4 -->
          <div id="3" class="col-lg-4" align="center">
              <img class="img-square" src="assets/web-design-services-page.png" width="250" height="200">
              <h2>Multi-Platform Web Development</h2>
              <p>Our team builds websites that can be scaled for every device and viewed on all platforms. </p>  
              <br>
              <br>
              <br>
          </div><!-- /.col-lg-4 -->
        <div class="row row_button" align="center">
          <div class="col-lg-4" align="center">
            <form class="additional_services" align="center">
             <button class="add_services_button" type="button">
               <h5 id="additional_services">Additional Services</h5>
             </button> 
            </form>
          </div>
      </div><!-- /.row -->
      

      <div id="row_additional" class="row row_additional" align="center">
          <h1 id="services_add">Additional Services</h1>
          <form align="center" class="close_add_services">
            <button class="close" type="button">
              <h2 align="center" id="x" class="x">X</h2>
            </button>
          </form>
          <br>
          <br>
          <div class="col-lg-9" align="center">
              <img id="handshake" class="img-square" src="assets/handshake.png" width="150" height="150">
              <h2>CTO's For Hire</h2>
              <br>
              <p> Our team can be hired as the CTO of your company or will take on individual projects outsourced by your tech team.</p>
          </div><!-- /.col-lg-9 -->
          <div class="col-lg-9" align="center">
              <img class="img-square" src="assets/web_traffic.png" width="150" height="150">
              <h2>User Traffic Tracking Analysis</h2>
              <br>
              <p> We use technology to track user traffic and demographics. We can  apply this to a website we built for you or your existing one. Depending on what type of data you choose to be displayed, we can create monthly or yearly reports using D3.js. </p>
          </div><!-- /.col-lg-9 -->
          <div class="col-lg-9" align="center">
              <img class="img-square" src="assets/research.png" width="150" height="150">
              <h2>Database Analytics</h2>
              <br>
              <p>Given the information your database acquires, we can process that information into simple statistics presented with charts and graphs using D3.js. We can provide this on a monthly or yearly basis for your company or team. </p>  
          </div><!-- /.col-lg-9 -->
          <div class="col-lg-9" align="center">
             <img class="img-square" src="assets/maintance.png" width="150" height="150">
              <h2>Monthly Website and Server Maintenance</h2>
              <br>
              <p> We will maintain all of your website needs. Whether updates are needed weekly, monthly, or yearly, we will make sure it is always live, up to date and running smoothly.</p> 
          </div><!-- /.col-lg-9 -->
      </div><!-- /.row -->

      <!-- Three columns of text below the carousel -->

      <div class="row row_3" align="center">
      <h1 class="services_2">Languages</h1>
<br>
<br>
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/html.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/css.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/javascript.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/rails.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/swift.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img id="mysql" align="center" class="img-square" src="assets/mysql.png" height="150">
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>
