<!-- Three columns of text below the carousel -->
    <div class="container-fluid">
      <div class="row row_1">
        <div class="col-lg-12 col-lg-offset-4">
          <img class="logo-big" align="center" src="assets/tree_logo.png" height="300px" width="500px">
        </div>
      </div>
      <div class="row row_2" align="center">
          <h1 id="services">Services</h1>
          <br>
          <br>
          <div class="col-lg-4" align="center">
              <img class="img-square" src="assets/coding.png" width="300" height="200">
              <h2>UX/UI Design & Web Development</h2>
              <p>Our certified web developers can build a range of website for our clients. With experence ranging from the more basic Personal sites, to Artistic displays, Corporate, Ecommerece, Education, and Financial. Ranging from a few pages display pages to websites built around entire databases used to display information. Our developers truely have diverse portfolio's. </p>
          </div><!-- /.col-lg-4 -->
          <div id="2" class="col-lg-4" align="center">
              <img class="img-square" src="assets/single-page-websites.jpg" width="300" height="200">
              <h2>Custom or Templated Designs</h2>
              <p>We can build any type of website our clients request, from templated designs, to coded from scratch with API integration. Projects like these we take most pride in.</p>
          </div><!-- /.col-lg-4 -->
          <div id="3" class="col-lg-4" align="center">
              <img class="img-square" src="assets/web-design-services-page.png" width="250" height="200">
              <h2>Multi-Platform Web Development</h2>
              <p>No matter the type of website you have our developers build, they can be scaled for any device or platform you choose.</p>  
          </div><!-- /.col-lg-4 -->
        <div class="row row_button" align="center">
          <div class="col-lg-4" align="center">
            <form class="additional_services">
             <button class="add_services_button" type="button">
               <h5 id="additional_services">Additional Services</h5>
             </button> 
            </form>
          </div>
      </div><!-- /.row -->
      

      <div id="row_additional" class="row row_additional" align="center">
          <h1 id="services_add">Additional Services</h1>
          <br>
          <br>
          <div class="col-lg-9" align="center">
              <img class="img-square" src="assets/coding.png" width="200" height="100">
              <h2>UX/UI Design & Web Development</h2>
              <p>Our certified web developers can build a </p>
          </div><!-- /.col-lg-9 -->
          <div id="2" class="col-lg-9" align="center">
              <img class="img-square" src="assets/single-page-websites.jpg" width="200" height="100">
              <h2>Custom or Templated Designs</h2>
              <p>We can build any type of website our </p>
          </div><!-- /.col-lg-9 -->
          <div id="3" class="col-lg-9" align="center">
              <img class="img-square" src="assets/web-design-services-page.png" width="200" height="100">
              <h2>Multi-Platform Web Development</h2>
              <p>No matter the type of website you have our </p>  
          </div><!-- /.col-lg-9 -->
          <div class="col-lg-9" align="center">
             <img class="img-square" src="assets/web-design-services-page.png" width="200" height="100">
              <h2>Multi-Platform Web Development</h2>
              <p>No matter the type of website you have our </p> 
          </div><!-- /.col-lg-9 -->
      </div><!-- /.row -->

      <!-- Three columns of text below the carousel -->

      <div class="row row_3" align="center">
      <h1 class="services_2">Languages</h1>
<br>
<br>
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/html.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/css.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/javascript.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/rails.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img align="center" class="img-square" src="assets/swift.png" height="150">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2" >
          <img id="mysql" align="center" class="img-square" src="assets/mysql.png" height="150">
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>
