<div class="container container_3">
  <div class="row row_4">

    <div class="team_spacer"><h1>Our Team</h1></div>
<br>
<!-- <br> -->
    <div class="member">
      <div id="james" class="member_portrait"></div>
      <div class="">
        <h2 class='name'>James Sullivan</h2>
        <h2 class='position'>
          CEO/Co - CTO <br>
          Head of Operations/Lead Backend Developer
        </h2>
        <!-- p class='bio'>BIO</p> -->
        <h5 class='email'><a href="mailto:jamessullivan@17webdev.com">jamessullivan@17webdev.com</a></h5>
      </div>
    </div>

    <div class="member">
      <div id="kyle" class="member_portrait"></div>
      <div class="">
        <h2 class='name'>Kyle Harmon</h2>
        <h2 class='position'>
          Co - CTO <br>
          Head of Website Security/Lead Frontend Developer
        </h2>
        <!-- <p class='bio'>BIO</p> -->
        <h5 class='email'><a href="mailto:kyleharmon@17webdev.com">kyleharmon@17webdev.com</a></h5>
      </div>
    </div>

    <div class="member">
      <div id="eric" class="member_portrait"></div>
      <div class="">
        <h2 class='name'>Eric Sui</h2>
        <h2 class='position'>
          Co - CTO <br>
          Head of New Technologies/Lead Web Developer
        </h2>
        <!-- <p class='bio'>BIO</p> -->
        <h5 class='email'><a href="mailto:ericsui@17webdev.com">ericsui@17webdev.com</a></h5>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="row row_5">

    <div class="team_spacer team_spacer_2" align="center"><h1>Our Mission</h1></div>

    <div class="mission_box">
      <h2>17 Wed Dev professionally builds user friendly websites so that visitors want to come back again and again. Building an effective site requires many different types of techniques, strategies and the best web resources available. When a client employs 17 Web Dev, they can expect to obtain a product that will drive customers to the site on a regular basis, while also keeping them engaged while they are there.
      <br>From making sure the site is well designed and coded to easy to navigate, we take advantage of numerous resources, tools and strategies to build a site that is efficient and well liked by our clients. </h2>
    </div>

  </div>
</div>
