<div class="container_3">
<br>
<h1 class="services_3">Our Team</h1>
<br>


      <!-- Three columns of text below the carousel -->
      <div class="row_3" align="center">
      <div class="serv_3">
        <div class="col-lg-6">
          <div class="team_member">
            <img id="james_img" class="img-circle" src="assets/james.jpeg" width="250px" height="250px">
              <h2 class="name">James Sullivan</h2>
                <h2 class="position">Co-CTO <br> Head of Operations/Lead Web Developer</h2>
                  <p class="bio">bio</p>
                    <h5 class="email"><a href="mailto:jamessullivan@17webdev.com">jamessullivan@17webdev.com</a></h5>
          </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <div class="team_member">
            <img id="kyle_img" class="img-circle" src="assets/kyle.jpg" width="250px" height="250px">
              <h2 class="name">Kyle Harmon</h2>
                <h2 class="position">Co-CTO <br> Head of Website Securities/</h2>
                  <p class="bio">bio</p>
                     <h5 class="email"><a href="mailto:kyleharmon@17webdev.com">kyleharmon@17webdev.com</a></h5>
          </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <div class="team_member">
            <img id="eric_img" class="img-circle" src="assets/dummy.png" width="250px" height="250px">
              <h2 class="name">Eric Sui</h2>
                <h2 class="position">Co-CTO <br> Head of </h2>
                  <p class="bio">bio</p>
                     <h5 class="email"><a href="mailto:ericsui@17webdev.com">ericsui@17webdev.com</a></h5>
          </div>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.serv_3-->
      </div><!-- /.row_3 -->
      </div><!-- /.container_3 -->
<br>
<br>
    <div class="container_4">
<br>
    <h1 class="services_4">Mission</h1>
<br>
      <div class="row_4" align="center">
        <div class="col-lg-7">
          <div class="mission">
            <h2>17 Web Dev stands on the belief of web development being an underestimated art form.
            <h2>Each project demands extreme attention to detail from our highly dedicated developers.</h2> 
            <h2>Our team desires to make your vision come to life.</h2> 
            <h2>We are not exclusive, we work with anyone who needs a digital presence. This range includes coporate america to  startup entrepreneur's to artists. However you or your needs to express yourselves and servies, we have your back. </h2> 
          </div>
        </div><!-- /.col-lg-7 -->
      </div><!-- /.row_4 -->
      </div><!-- /.container_4 -->
<br>
<br>
<br>

      

<!-- Contact us now to assist in forwarding your goal. -->



