<div class="container_2">
<br>
<h1 class="services_3">Our Team</h1>
<br>
<br>
<br>

      <!-- Three columns of text below the carousel -->
      <div class="row_3">
        <div class="col-lg-5">
          <div class="team_members">
            <img class="img-circle" src="assets/dummy.png" width="275" height="150">
              <h2>Name</h2>
                <p>Our certified web developers can build a range of website for our clients. With experence rangi </p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <div class="team_members">
            <img class="img-circle" src="assets/dummy.png" width="275" height="150">
              <h2>Name</h2>
                <p>Our certified web developers can build a range of website for our clients. With experence ran </p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <div class="team_members">
            <img class="img-circle" src="assets/dummy.png" width="275" height="150">
              <h2>Name</h2>
                <p>Our certified web developers can build a range of website for our clients. With experence rang </p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-5">
          <div class="team_members">
            <img class="img-circle" src="assets/dummy.png" width="275" height="150">
              <h2>Name</h2>
                <p>Our certified web developers can build a range of website for our clients. With experence  </p>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

</div>
<br>
<br>






 <!--  <div class="col-lg-7">
		<h5>
			17 Web Development & Design stands on the belief of web development being an underestimated art form.<br> Each project demands extreme attention to detail from our highly dedicated developers.<br> Our team desires to make your vision come to life.<br> Contact us now to assist in forwarding your goal.
		</h5>
	</div> -->
