/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";



// ############################
body {
   font-family: 'Dosis', sans-serif;
}
// navbar
    .navbar{
      height: 95px;
      margin-bottom: 0px;
      width: fill;
      background: linear-gradient(to bottom right, #1C1C1C 10%, #494949 90%);
      border: none;
      border-radius: 0px;
    }
    .navlogo {
      width: 120px;
      height: 75px;
    }
    .act {
      margin: 10px;
      font-size: 15px;
      color: white;
      // font-family: 'Quantico', sans-serif;
    }
.pages{
    .container-fluid{
      padding-right: 0%;
      padding-left: 0%;
    }
    .col-lg-offset-4{
      margin-left: 0px;
    }
    .logo-big{
      // opacity: 0.50;
      margin-top: 10%;
      margin-left: 30%;
      margin-bottom: 10px;
    }
    #services{
      margin-left: 10px;
      margin-top: 15px;
    }
    .row{
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
      margin-bottom: 0%;
    }
    .row_1{
      height: 500px;
      width: 100%;
      background: linear-gradient(to bottom right, #83a4d4, #b6fbff);
    }
    .servdis{
      // width: 30%;
      // border-right: solid black 3px;
      // border-right: solid #CD3333 3px;
    }
    .servdis h2{
      font-family: 'Dosis', sans-serif;
    }
    .col-lg-4 p{
      width: 300px;
      font-size: 20px;
    }
    .img-square{
      margin-bottom: 10px;
    }
    // #####################
    // #####################
    .services_2{
      margin-left: 10px;
      margin-top: 15px;
    }
    .row_3{
      // margin-left: ;
      padding: 20px;
      background: linear-gradient(to bottom right, #83a4d4, #b6fbff);
    }
    .col-lg-5{
      margin-bottom: 5%;
    }
    .col-lg-5{
      width: 20%;
    }
    #js{
      margin-left: -75px;
      margin-top: -10px;
    }
    #rails{
      margin-top: 15px;
    }

     // ################################
    // ################################
    // contact page
    .container_5{
      height: 600px;
      width: fit;
    }
    .services_5{
      margin-left: 43%;
    }
    .serv_5{
      
    }
    .email{
      margin-left: -15%;
    }
    .col-lg-8{
      margin-left: 15%;
    }
    .servdis_5{
      // width: 30%;
      margin-left: 50px;
      margin-top: -10%;
    }
    .servdis_5 h2{
      font-family: 'Dosis', sans-serif;
    }
    .servdis_5 p{
      width: 300px;
      font-size: 20px;
      // need a matching font to above??
    }
    .servdis h4{
      font-family: 'Quantico', sans-serif;
    }
    // #################
    // #################
    // sengrid or mailchimp
    // .container_6{
    //   border-top: solid black 2px;
    //   height: 800px;
    //   width: fit;
    //   // display: none;
    // }
    .services_6{
      // margin-left: 43%;
      // need a different font ??
    }
    .serv_6{
      // margin-left: -70px;
    }
    .row .row_6{
      width: fill;
      margin-left: 10%;
    }

}
