@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";


body{
  font-family: 'Open Sans Condensed', sans-serif;
}
.pages{
    .jumbotron{
      width: fit;
      background-color: black;
      height: 400px;
    }
    .jumbotron h1{
      color: #CD3333;
      text-align: center;
      // font-family: 'BioRhyme', serif;
    }
    .jumbotron p{
      margin-top: 60px;
      margin-left: -20px;
      font-size: 30px;
      // font-family: 'Copse', serif;
      color: #CD3333;
      text-align: center;
    }
    .services{
      margin-left: 40%;
    }
    .serv{
      margin-left: -70px;
    }
    .row{
      width: fit;
      margin-left: 10%;
    }
    .servdis{
      margin-left: -30px;
      border-right: solid #CD3333 3px;
    }
    .servdis p{
      width: 300px;
      font-size: 20px;
    }
    .img-square{
      border-radius: 0px;
      margin-bottom: 10px;
    }

    // ######################
    .row_2{
      width: fit;
      margin-left: 5%;
    }
    .col-lg-5{
      width: 20%;
    }
}
