.footer {
  height: 400px;
  margin-left: 20px;
}

.relist{
  float: left;
  width: 25%;
  height: 200px;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.location{
  // width: 50% !important;

}
